<div class="col-md-12">
    <center>
        <div class="col-md-4">
            <h3 class="submitFont">Select a burger to Devour:</h3>
            <div id="burgersAvailable">
                {{#each burgers}} {{#unless devoured}}
                <form action="burger/eat/{{id}}" method="POST">
                    <br>
                    <div class="input-group">
                        <li class="form-control">{{id}}. {{burger_name}}</li>
                        <span class="input-group-btn">
                            <button class="btn btn-success devour-button" type="submit" style="background-color: red;">DEVOUR/REMOVE</button>
                        </span>
                    </div>

                </form>
                {{/unless}} {{/each}}
            </div>
        </div>

        <br>

        <div class="col-md-4"></div>

        <div class="col-md-4">
            <h3 class="submitFont">Burgers Devoured:</h3>
            <div id="burgersEaten">
                <br>
                {{#each burgers}} {{#if this.devoured}}
                <div class="input-group">
                    <li class="form-control">{{this.id}}. {{this.burger_name}}</li>
                </div>
                {{/if}} {{/each}}
            </div>
        </div>
    </center>
</div>